<div class="content d-flex align-items-center justify-content-between bg-danger position-sticky p-2 m-0">
    <div class="d-flex align-items-center pe-2">
        <div class="pe-4"><img src="../../../../assets/img/pokebola.png" alt="poke-bola" class="img-poke"></div>
        <div class="pe-4"><h5>POKEMONES</h5></div>
    </div>
	

    <div class="pe-2">
        <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control " placeholder="Buscar Pokemón" />
              
            </div>
            <button type="button" class="btn btn-primary button-search">
              <i class="fas fa-search"></i>
            </button>
          </div>
    </div>

	<!--<div class="div-mayor">
		<div class="div-content" *ngFor="let poke of pokems">
			<img [src]="poke.url" class="img-poke">
			<p> {{poke.name}}</p>
		</div>
	</div>
<div class="message" id="modal">ACTIVA LA UBICACIÓN</div>-->
</div>